# Python Variables

# Variables

Variables are containers for storing data values.

# Creating Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [2]:
x = 4           # x is type of int
x = "Sally"     # x is now type of str
print(x)

Sally

# Casting

If you want to specify the data type of a variable, this can be done with casting.

In [3]:
x = 3   # x type is int
y = 3   # y type is int
z = 3   # z type is int

In [7]:
x = str(3)
y = float(3)
z = int(3)
print(x); print(y); print(z)

3
3.0
3

# Get the Type

You can get the data type of a variable with the type() function.

In [8]:
x = str(3)
y = float(3)
z = int(3)
print(type(x)); print(type(y)); print(type(z))

<class 'str'>
<class 'float'>
<class 'int'>

# Single or Double Quotes?

String variables can be declared either by using single or double quotes:

In [10]:
x = "John"
print(x)
# is same as

x = 'John'
print(x)

John
John

# Case-Sensitive

Variable names are case-sensitive (a system distinguishes between uppercase (A, B, C) and lowercase (a, b, c) letters, treating them as different characters).

In [12]:
a = 4
print(a)
A = "Sally"
print(A)
# A will not overwrite a

4
Sally

# Python - Variable Names

# Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

    A variable name must start with a letter or the underscore character
    
    A variable name cannot start with a number
    
    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    
    Variable names are case-sensitive (age, Age and AGE are three different variables)
    
    A variable name cannot be any of the Python keywords.

# Legal variables names:

In [17]:
myvar = "John"
print(myvar)

my_var = "John"
print(my_var)

_my_var = "John"

myVar = "John"
print(myVar)

MYVAR = "John"
print(MYVAR)

myvar2 = "John"
print(myvar2)

_ = "John"
print(_)

John
John
John
John
John
John

# llegal variable names:

In [20]:
2myvar = "John"
my-var = "John"
my var = "John"

print(2myvar)
print(my-var)
print(my var)

SyntaxError: invalid decimal literal (3774095009.py, line 1)

Remember that variable names are case-sensitive

# Multi Words Variable Names

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

# 1. Camel Case

Each word, except the first, starts with a capital letter:

In [22]:
myVariableName = "John"
print(myVariableName)

abdulMannanAsif = "Human and Muslim"
print(abdulMannanAsif)

John
Human and Muslim

# 2. Pascal Case

Each word starts with a capital letter:

In [23]:
MyVariableName = "John"
print(MyVariableName)

John

# 3. Snake Case

Each word is separated by an underscore character:

In [24]:
my_variable_name = "John"
print(my_variable_name)

John

# Python Variables - Assign Multiple Values

# Many Values to Multiple Variables

Python allows you to assign values to multiple variables in one line:

In [25]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

* Note: Make sure the number of variables matches the number of values, or else you will get an error.

# One Value to Multiple Variables

And you can assign the same value to multiple variables in one line:

In [27]:
x = y = z = "Orange"
a = b = c = 5
print(a, end = " ")
print(x)
print(b, end = " ")
print(y)
print(c, end = " ")
print(z)

5 Orange
5 Orange
5 Orange

# Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [31]:
fruits = ["apple", "banana", "cherry"]
x , y , z = fruits
print(x)
print(y)
print(z)
#-------------------------------------
#-------------------------------------
numbers = (1,2,3)
a , b , c = numbers
print(a)
print(b)
print(c)

apple
banana
cherry
1
2
3

# Python - Output Variables

# Output Variables

The print() function is often used to output variables.

In [32]:
x = "Python is awesome"
print(x)

Python is awesome

In the print() function, you output multiple variables, separated by a comma:

In [33]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the + operator to output multiple variables:

In [34]:
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Pythonisawesome

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

In [35]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

For numbers, the + character works as a mathematical operator:

In [36]:
x = 5 
y = 10
print(x + y)

15

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [37]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [38]:
x = 5
y = "John"
print(x, y)

5 John

# Python - Global Variables

# Global Variables

Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

* Example

Create a variable outside of a function, and use it inside the function

In [2]:
x = "awesome"

def myfunc():
    print("Python is", x)
    
myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

* Example

Create a variable inside a function, with the same name as the global variable

In [4]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is", x)
    
myfunc()

print("Pyhton is", x)

Python is fantastic
Pyhton is awesome

# The Global Keyword

Normally, when you create a variable inside a function, that variable is local, and can only be used inside the function

To create a global variable inside a function, you can use the "global" variable

* Example

if you use the global keyword, the variable belongs to the global scope:

In [5]:
def myfunc():
    global x
    x = "fantastic"
    print("Python is", x)
    
myfunc()

print("Python is",x)

Python is fantastic
Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

* Example

To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [6]:
x = "awesome"

def myfunc():
    global x
    x = "fantastic"
    print("Python is", x)
    
myfunc()

print("Java is", x)

Python is fantastic
Java is fantastic

# Python Data Types

# Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

1. Text Type:	            str
2. Numeric Types:	        int, float, complex
3. Sequence Types:	        list, tuple, range
4. Mapping Type:	        dict
5. Set Types:	            set, frozenset
6. Boolean Type:	        bool
7. Binary Types:	        bytes, bytearray, memoryview
8. None Type:	            NoneType

# Getting the Data Type

You can get the data type of any object by using the type() function:

* Example

Print the data type of the variable x:

In [10]:
x = 5
print(type(x))

<class 'int'>

# Setting the Data Data Type

In Python, the data type is set when you assign a value to a variable:

In [11]:
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

In [ ]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [13]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [14]:
x = 1j
print(x)
print(type(x))

1j
<class 'complex'>

In [15]:
x = ["apple","banana","cherry"]
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [16]:
x = ("apple", "banana", "cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [17]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [18]:
x = {
    'name' : 'Abdul Mannan',
    'age' : 24
}
print(x)
print(type(x))

{'name': 'Abdul Mannan', 'age': 24}
<class 'dict'>

In [19]:
x = {"apple", "banana", "cheery"}
print(x)
print(type(x))

{'cheery', 'banana', 'apple'}
<class 'set'>

In [20]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [21]:
x, y = True, False
print(x)
print(y)
print(type(x))
print(type(y))

True
False
<class 'bool'>
<class 'bool'>

In [22]:
x = b"Hello"
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [23]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [24]:
x = memoryview (bytes(5))
print(x)
print(type(x))

<memory at 0x1066d5c00>
<class 'memoryview'>

In [25]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

# Setting the Specific Data Type

If you want to specify the data type, you can use the following constructor functions

In [26]:
x = str("Hello World")
print(x)
print(type(x))

Hello World
<class 'str'>

In [27]:
x = int(20)
print(x)
print(type(x))

20
<class 'int'>

In [28]:
x = float(20.5)
print(x)
print(type(x))

20.5
<class 'float'>

In [29]:
x = complex(1j)
print(x)
print(type(x))

1j
<class 'complex'>

In [30]:
x = list(("apple", "Banana", "cherry"))
print(x)
print(type(x))

['apple', 'Banana', 'cherry']
<class 'list'>

In [31]:
x = tuple(("1", "2", "3"))
print(x)
print(type(x))

('1', '2', '3')
<class 'tuple'>

In [32]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [33]:
x = dict(name = 'John', age = 23)
print(x)
print(type(x))

{'name': 'John', 'age': 23}
<class 'dict'>

In [34]:
x = set(("Abdullah", "Awais", "Azhar"))
print(x)
print(type(x))

{'Abdullah', 'Awais', 'Azhar'}
<class 'set'>

In [35]:
x = frozenset(("Abdullah", "Awais", "Azhar"))
print(x)
print(type(x))

frozenset({'Abdullah', 'Awais', 'Azhar'})
<class 'frozenset'>

In [41]:
x = bool(1)
y = bool(0)
print(x)
print(y)
print(type(x))
print(type(y))

True
False
<class 'bool'>
<class 'bool'>

In [45]:
x = bytes(4)
print(x)
print(type(x))

b'\x00\x00\x00\x00'
<class 'bytes'>

In [46]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [47]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x106f8cd00>
<class 'memoryview'>